<div class="section section-gray section-clients">
    <div class="container text-center">
        <h4 class="header-text">Verwendete Software</h4>
        <p>
            Die folgende Software hat uns dabei geholfen unser Diplomprojekt zu verwirklichen.
        </p>
        <div class="logos">
            <ul class="list-unstyled">
                <li><img src="assets/img/logos/adobe.png" /></li>
                <li><img src="assets/img/logos/zendesk.png" /></li>
                <li><img src="assets/img/logos/ebay.png" /></i>
                    <li><img src="assets/img/logos/evernote.png" /></li>
                    <li><img src="assets/img/logos/airbnb.png" /></li>
                    <li><img src="assets/img/logos/zappos.png" /></li>
            </ul>
        </div>
    </div>
</div>
