<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Merkmale</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">News</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Über uns</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header class="home">
    <div class="home-wrap">
        <div class="parallax filter-gradient blue" data-color="blue">
                <div class="parallax-background">
                    <img class="parallax-background-image" id="bg" src="img/header-bg.jpg">
                </div>
                <div class= "container" style="">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="description">
                                <h2>Die BestShift App</h2>
                                <br>
                                <h5>
                                Als oberstes Ziel gilt mehr Informationen
                                während- und nach der Fahrt zu bieten. Zusätzlich zu der App wir noch ein CarPC entwickelt der als Schnittstelle für das ODB-II Interface entwickelt. Die Hardware besteht aus einem Single Board Computer (SBC) welcher mittels Bluetooth Chip (ELM237) Daten aus dem Motormanagement sowie eigene Sensordaten erhält. 
                                </h5>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-fill btn-neutral">
                                <i class="fa fa-android"></i> Play Store
                                </button>
                                <button class="btn btn-simple btn-neutral">
                                <i class="fa fa-apple"></i>
                                </button>
                                <button class="btn btn-simple btn-neutral">
                                <i class="fa fa-windows"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5  hidden-xs">
                            <div class="parallax-image">
                                <img class="phone" src="img/iphone.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
