<div class="parallax filter-gradient blue" data-color="blue">
    <div class="parallax-background">
        <img class="parallax-background-image" src="assets/img/template/bg3.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 hidden-xs">
                <div class="parallax-image">
                    <img class="phone" src="assets/img/template/nexus6.png" style="margin-top: 20px" />
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="description">
                    <h2>Diplomprojekt der Abteilung Informationstechnologie</h2>
                    <br>
                    <h5>In diesem Projekt wird eine Applikation für das mobile Betriebssystem Android implementiert, 
			die dem Fahrer eines KFZ während der Fahrt Informationen zu Fahrgastbequemlichkeit
			und verbrauchseffizienter Fahrweise gibt.</h5>
                </div>
                <div class="buttons">
                    <button class="btn btn-fill btn-neutral">
                        <i class="fa fa-android"></i> Play Store
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
