<div class="section section-no-padding">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class="parallax-background-image" src="assets/img/template/bg3.jpg" />
        </div>
        <div class="info">
            <h1>Download this app!</h1>
            <p>Something something something something something
                <p>
                    <a href="http://tgm-hit.github.io/BestShift/" class="btn btn-neutral btn-lg btn-fill">DOWNLOAD</a>
        </div>
    </div>
</div>
