<div class="section section-presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <h4 class="header-text">Modernes Design</h4>
                    <p>
                        Wir legen sehr großen Wert auf Userfreundlichkeit und die Benutzeroberfläche unserer App.
                        <br/> 
						Darum punkten wir mit einem modernen schlichten Design, welches allen Wünschen unserer Kunden entspricht.
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <img src="assets/img/template/mac.png" />
            </div>
        </div>
    </div>
</div>
